html {
    min-height: 100%;
    background-color: #21a675;
    background: url(/img/zip/index-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}
.first-title {
    font-size: 48px;
}
body {
    margin: 0;
    width: 100%;
}
.main-content {
    padding: 50px;
    color: white;
}
.video-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 520px;
}
.video-item {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.video {
    width: 500px;
    height: 500px;
}
@media screen and (max-width: 1170px) {
    .video-content {
        flex-direction: column;
        align-content: center;
    }
    .video-item {
        width: 100%;
    }
    .video {
        width: 100%;
    }
}