<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link rel="icon" type="image/x-icon" href="/img/AD.png">
        <link rel="stylesheet" type="text/css" href="index.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <img src="/img/zip/index-bg.jpg" class="background-image">
        <div class="main-containt" id="app">
            <h1 class="first-title">Articles</h1>
            <ul class="articles-list">
                <li class="article-row" v-for="item in articles" >
                    <a class="article-item" v-bind:href="item.url">
                        <div class="article-name item">{{item.title}}</div>
                        <div class="article-time item">{{item.time}}</div>
                        <div class="article-tags item">
                            <div class="tag" v-for="tag in item.tags">{{tag}}</div>
                        </div>
                        <div class="article-type item">{{item.type}}</div>
                    </a>
                    <div class="line"></div>
                </li>
            </ul>
        </div>
        <footer>
            <img src="/img/qrcode.jpg" class="qrcode" />
            <div class="welcome-qrcode">更多文章内容请关注微信公众号</div>
            <div class="back-to-index">
                <a href="/index.html" class="no-decoration">
                    Amber's Damon
                </a>
            </div>
            <div class="for-law">京ICP备18026581号</div>
        </footer>
        <script src="./index.js"></script>
    </body>
</html>